.flex-container{
  display: flex; 
  justify-content: space-between;
  background-color: black;
  font-family: serif; 
  color: white;
  overflow: hidden;
  align-items: center;
}
div {
  display: flex;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#cfh{
  padding: 20px; 
  background-color: purple;
  justify-content: space-between;
  display: flex;
}
ul{
  list-style-type:none ;
}